<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soni Yadav</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <div class="avatar-wrap">
    <div class="moon">☆</div>
</div>
    <h1>Hi, I'm Soni!!</h1>
    <p>A person who absolutely loves creating cool things.</p>
    <p>Click below to check out my work and connect with me on social media!</p>

    <div class="links">
        <a href="https://pinterest.com/soniyadavv_" target="_blank">Pinterest</a>
        <a href="https://instagram.com/soniyadavv__" target="_blank">Instagram</a>
        <a href="https://linkedin.com/in/soniyadavv" target="_blank">LinkedIn</a>
        <a href="https://github.com/soniyadavv" target="_blank">GitHub</a> 
    </div>
</div>

<div class="stars"></div>
<div class="grain"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
